body {
    background-color: black;
    font-size: large;
    font-family: Georgia;
    flood-color: white;
}


p {
    color: white;
    text-align: center;
}


title {
    color: white;
    text-align: center;
}
